        html,
   body,
   div,
   span,
   applet,
   object,
   iframe,
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   blockquote,
   pre,
   a,
   abbr,
   acronym,
   address,
   big,
   cite,
   code,
   del,
   dfn,
   em,
   img,
   ins,
   kbd,
   q,
   s,
   samp,
   small,
   strike,
   strong,
   sub,
   sup,
   tt,
   var,
   b,
   u,
   i,
   center,
   dl,
   dt,
   dd,
   ol,
   ul,
   li,
   fieldset,
   form,
   label,
   legend,
   table,
   caption,
   tbody,
   tfoot,
   thead,
   tr,
   th,
   td,
   article,
   aside,
   canvas,
   details,
   embed,
   figure,
   figcaption,
   footer,
   header,
   hgroup,
   menu,
   nav,
   output,
   ruby,
   section,
   summary,
   time,
   mark,
   audio,
   video {
       margin: 0;
       padding: 0;
       border: 0;
       font-size: 100%;
       font: inherit;
       vertical-align: baseline;
   }

   article,
   aside,
   details,
   figcaption,
   figure,
   footer,
   header,
   hgroup,
   menu,
   nav,
   section {
       display: block;
   }

   @font-face {
                   font-family: nk-font;
                   font-display: swap;
                   src: url(https://cdn.nguyenkimmall.com/design/themes/responsive/media/fonts/nki-icon-font-home.eot?11062020);
                   src: url(https://cdn.nguyenkimmall.com/design/themes/responsive/media/fonts/nki-icon-font-home.eot?11062020) format("embedded-opentype"), url(https://cdn.nguyenkimmall.com/design/themes/responsive/media/fonts/nki-icon-font-home.ttf?11062020) format("truetype"), url(https://cdn.nguyenkimmall.com/design/themes/responsive/media/fonts/nki-icon-font-home.woff?11062020) format("woff"), url(https://cdn.nguyenkimmall.com/design/themes/responsive/media/fonts/nki-icon-font-home.svg?11062020) format("svg");
                   font-weight: 400;
                   font-style: normal
               }

               [class*=nki-],
               [class^=nki-] {
                   font-family: nk-font !important;
                   speak: none;
                   font-style: normal;
                   font-weight: 400;
                   font-variant: normal;
                   text-transform: none;
                   line-height: 1;
                   -webkit-font-smoothing: antialiased;
                   -moz-osx-font-smoothing: grayscale
               }

   body {
       line-height: 1;
   }

   ol,
   ul {
       list-style: none;
   }
   html {
       box-sizing: border-box;
       -ms-overflow-style: scrollbar;
   }

   *,
   *::before,
   *::after {
       box-sizing: inherit;
   }




   .container {
       width: 100%;
       margin-right: auto;
       margin-left: auto;
   }
   .row {
       display: flex;
       flex-wrap: wrap;
       margin-right: -15px;
       margin-left: -15px;
   }

   * {
       box-sizing: border-box;
   }

   html {
       overflow-y: scroll;
   }

   body {
       background: #f3f5f7;
       font-size: 12px;
       min-width: 1346px;
   }

   .row-fluid,
   .ty-wysiwyg-content {
       width: 100%;
   }

   .flexthis {
       display: -webkit-flex;
       display: -ms-flexbox;
       display: flex;
       -webkit-flex-wrap: wrap;
       -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   }
    .clearfix {
       clear: both;
   }

   .nk-header {
       width: 100%;
       position: relative;
       height: 88px;
   }

   .nk-header::before {
       content: "";
       background: #800015;
       width: 100%;
       height: 0px;
       position: absolute;
       left: 0;
       z-index: 0;
   }

   .nk-header::after {
       content: "";
       position: absolute;
       left: 0;
       background: #000000;
       height: 88px;
       width: 100%;
       top: 0px;
       z-index: 0;
   }

   .nk-header ._nk_main {
       position: absolute;
       z-index: 9;
       left: 0;
       right: 0;
   }

   .nk-header .span4,.nk-header .span12 {
       float: left;
   }

   .nk-header i {
       display: block;
   }

   .nk-header .nk-nav-right {
       width: 78.7%;
       width: calc(100% - 256px);
       width: -moz-calc(100% - 256px);
       width: -webkit-calc(100% - 256px);
   }
   .nk-header #nk-cart ul li {
       box-sizing: border-box;
       width: auto;
       margin: 0 2%;
       display: flex;
       align-items: center;
       font-size: 12px;
   }

   .nk-header #nk-cart ul li:last-child {
       width: fit-content;
   }

   .owl-carousel {
       display: none;
       width: 100%;
       -webkit-tap-highlight-color: transparent;
       position: relative;
       z-index: 1;
   }
   html {
       font-size: 100% !important;
       overflow-x: hidden;
       overflow-y: scroll
   }
   body {
       font-family: Roboto, sans-serif;
       font-size: 1rem;
       background: #f5f6f8
   }

   .nk-title {
       font-weight: 700;
       position: relative;
       color: #3f3f3f;
       margin-bottom: 2rem;
       display: inline-flex;
       text-transform: uppercase;
       filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .15))
   }

   .nki-menu:before {
       content: "\e925";
       font-weight: 700
   }
    .nki-Phone:before {
       content: "\e915"
   }

   
   

   /*.nki-menu:before {
       content: "\e987"
   }*/
  /* .nki-Phone:before {
       content: "\e9e2";
       font-size: 22px;

   }   
*/

   





   :root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace
}

*,::after,::before {
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent
}

article,aside,dialog,figcaption,figure,footer,header,hgroup,main,nav,section {
    display: block
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff
}
h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: .5rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

dl,ol,ul {
    margin-top: 0;
    margin-bottom: 1rem
}
b,strong {
    font-weight: bolder
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

img {
    vertical-align: middle;
    border-style: none
}

button {
    border-radius: 0
}

button,input,optgroup,select,textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button,input {
    overflow: visible
}

button,select {
    text-transform: none
}

[type=reset],[type=submit],button,html [type=button] {
    -webkit-appearance: button
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit
}
.h2,h2 {
    font-size: 2rem
}

.h3,h3 {
    font-size: 1.75rem
}

.h4,h4 {
    font-size: 1.5rem
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.p-0 {
    padding: 0!important
}     